{% extends 'layout.html' %}
{% block content %}
    <div class="content-section">
        <h3 style="color: rgb(132, 0, 176); text-align: center;">Yonna Forex Bureau - Vault 🏦</h3>
        <form id="login-form" autocomplete="off" class="login-form" method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login 🔒</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg", id="password") }}
                        <input type="checkbox" onclick="password_toggle()">Show Password
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                <div class="border-top pt-3">
                    <small style="color: aliceblue;">
                        Need An Account? <a class="ml-2" href="{{ url_for('_users.register') }}">Sign Up Now</a>
                    </small>
                </div>
        </form>
        <script>
            function password_toggle() {
                var password = document.getElementById("password");
                if (password.type === "password") {
                    password.type = "text";
                } else {
                    password.type = "password";
                }
            }
        </script>
    </div>
{% endblock %}
